---
title: Wolf Avenue
permalink: /
layout: default
---

.row
  .large-8.columns.centered.text-center
    %a{ name: 'about' }
    %h1 What is Wolf Avenue
.row
  .large-7.columns
    Image placeholder
  .large-5.columns
    %p
      Wolf Avenue is a group of musicians based out of Parma, Ohio. With roots
      going back to the successful cover band "Three O'Clock...Still," Wolf
      Avenue continues the tradition of bringing fun, lively rock music to
      northeast Ohio. Playing mostly original music, Wolf Avenue serves fans
      in various venues throughout northeast Ohio, from Jimmy's Place in Parma
      to the Blue Rock Cafe in Hudson.

.row
  .large-8.columns.centered.text-center
    %a{ name: 'who' }
    %h1 Who is Wolf Avenue
.row
  .large-4.columns
    %h2.subheader Derek
  .large-4.columns
    %h2 Jim
  .large-4.columns
    %h2 Chris

.row
  .large-8.columns.centered.text-center
    %a{ name: 'calendar' }
    %h1 Where is Wolf Avenue
.row
  .large-5.columns
    %p
      You can find Wolf Avenue next:

    %dl
      %dt End of February
      %dd
        %a{ href: 'http://www.grillerspub.com/' } Grillers Pub in Parma
  .large-7.columns
    Image placeholder
